.banner {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background-color: var(--azul);
}

.banner__titulo{
    font-size: 32px;
    font-weight: 700;
}

.banner-dados {
  align-items: flex-start;
}

.banner__descricao-dados {
  font-size: 24px;
  text-align: left;
}

@media screen and (min-width:428px) {
  .banner-dados {
    align-items: center;
  }

  .banner__descricao-dados {
    text-align: center;
  }
}