.dados {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  gap: 24px;
  background-color: var(--azul-escuro);
}

.dados__img {
  height: 228px;
  border-radius: 8px;
  border: 2px solid var(--creme-forte);
}

.dados__titulo {
  color: var(--azul-claro);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.dados__lista {
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
}

.dados__item {
  color: var(--azul-mais-claro);
  font-weight: 500;
}

.rodape {
  height: 6vh;
}

.dados__div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 428px) {
  .dados__img {
    width: 60%;
    height: auto;
  }

  .dados {
    align-items: center;
  }

  .dados__div {
    width: 60%;
  }
}

@media screen and (min-width:1728px) {
  .dados{
    flex-direction: row;
    justify-content: center;
    gap: 56px;
    height: 55vh;
  }
  
  .dados__img{
    width: 30%;
  }

  .dados__div{
    width: 30%;
  }

  .dados__titulo{
    text-align: left;
  }

  .dados__lista{
    padding: 0;
  }
}